{% layout 'layout.liquid' %}

{% block content %}
<img src="https://media.istockphoto.com/photos/domestic-pets-hanging-over-white-website-banner-picture-id1006322426?k=20&m=1006322426&s=170667a&w=0&h=DJKoNU6R-4m29aEjrrPjnF5JrTAsz9x-ZL6ySpalBJA=" alt="banner" style="max-height: 300px">

<div class="center">
<h1>Welcome to Adopt-A-Paw</h1>
<h4>connecting friends to caring homes, quality services, and affordable items</h4>
</div>
<span>
<a href="/adopt-a-paw/pets/index">Pet Postings</a>
<div><a href="/adopt-a-paw/pets/index"><img src="https://media.istockphoto.com/vectors/girl-and-dog-greeting-isolated-vector-graphic-scene-vector-id1018689232?k=20&m=1018689232&s=612x612&w=0&h=7_8RC6mlwEqBsD9i-KFzU8rb2ka0sNZPjCZ_e6NC1UA=" alt="image" style="width: 300px; height: auto"></a>
</div>
</span>
<span>
<a href="/adopt-a-paw/items/index">Service & Item Postings</a>
<div>
<a href="/adopt-a-paw/items/index"><img src="https://media.istockphoto.com/vectors/cat-tree-or-house-with-scratching-posts-cute-red-cat-interested-in-vector-id1330094760?k=20&m=1330094760&s=612x612&w=0&h=I0gOOwIx9jWxDgYvwFEPiBMoWDmmIehXOKNvJEWgvuU=" alt="image" style="width: 200px; height: auto"></a>
</div>
</span>
{% endblock %}