{% layout 'layout.liquid' %}

{% block content %}
<h1>This is Home</h1>
<div>
<a href="/adopt-a-paw/pets/index">Pet Listing</a>
</div>
<div>
<a href="/adopt-a-paw/items/index">Item Listing</a>
</div>
{% endblock %}