{% comment %} {% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Item Listings</h2>
    <div class="row">

        {% for item in items %}
            <div class="card" style="width: 18rem">
            <img src="{{startItems.images}}" alt="img">
                <h5 class="card-header">{{startItems.title}}</h5>
                <div class="card-body">
                    <ul class='itemInfo'>
                    <li>Cost: ${{startItems.price}}</li>
                    <li>Location: {{startItems.location}}</li>
                    </ul>
                    
                    <a href="/adapt-a-paw/home" class="btn btn-info">Home</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% endcomment %}