{% layout 'layout.liquid' %}

{% block content %}
<div>
    <a href="index" class="btn btn-info">Service & Item Posts</a>
</div>
<div class="container-md">
    <form action="/adopt-a-paw/items/index" method="POST">
        <fieldset>
            <legend>Create A New Item Post</legend>
            <label class="form-label">Title:</label>
            <input 
                class="form-control" 
                type="text" 
                name="title" 
                placeholder="enter title"
            >
            <label class="form-label">Description:</label>
            <input 
                class="form-control" 
                type="text" 
                name="item_description" 
                placeholder="enter description"
            >
            <label class="form-label">Price:</label>
            <input 
                class="form-control" 
                type="text" 
                name="price" 
                placeholder="enter price"
            >
            <label class="form-label">Location:</label>
            <input 
                class="form-control" 
                type="text" 
                name="location" 
                placeholder="enter location"
            >
            <label class="form-label">Name of contact:</label>
            <input 
                class="form-control" 
                type="text" 
                name="name_of_contact" 
                placeholder="enter name of contact"
            >
            <label class="form-label">Contact info:</label>
            <input 
                class="form-control" 
                type="text" 
                name="contact_info" 
                placeholder="enter contact info"
            >
            <label class="form-label">Images:</label>
            <input 
                class="form-control" 
                type="text" 
                name="images" 
                placeholder="enter image url"
            >
        </fieldset>
        <input 
            type="submit" 
            value="Create New Item" 
            class="btn btn-success"
        >
    </form>
</div>
<style>
body {
    background-image: url("https://us.123rf.com/450wm/elovich/elovich1704/elovich170400349/75383483-white-wood-texture-background-wooden-table-top-view.jpg?ver=6")
} 
</style>
{% endblock %}